{% extends "base.html" %}

{% block content %}
<div class="card mb-3">
    <img src="{{post.image.url}}" class="card-img-top" alt="..." style="width: 1350px ; height:600px;">
    <div class="card-body">
      <h5 class="card-title" style="text-align: center;">{{post.title}}</h5>
      <p class="card-text">{{post.content|safe}}</p>
      <hr>
      <p class="card-text"><small class="text-body-secondary">{{post.created|date:"M d, Y"}}</small></p>
      <h6>{{post.likes.count}} Like</h6>
    </div>
    
</div>

<form action="{% url 'post_like' post.id %}" method="POST">
    {% csrf_token %}
    {% if request.user in post.likes.all %}
        <button type="submit" name="post_id" value="{{post.id}}" class="btn btn-danger" style="margin:10px 10px 10px 10px;">Unlike</button>
    {% else %}
        <button type="submit" name="post_id" value="{{post.id}}" class="btn btn-primary" style="margin:10px 10px 10px 10px;">Like</button>
    {% endif %}

</form>


<br>
<div class="col-md-6 offset-md-3">
    <h3>Add Comment</h3>
    <br>
<form action="" method="POST">
    {% csrf_token %}
    {{form}}
    <br>
    <button type="submit" class="btn btn-primary">Send</button>
</form>
</div>
<br>
<hr>
<div class="col-md-6 offset-md-3">
  {% for c in comment %}
  <div class="card text">
    <div class="card-header">
      {{c.user}}
    </div>
    <div class="card-body">
      
      <p class="card-text">{{c.content}}</p>
      
    </div>
    <div class="card-footer text-body-secondary">
      {{c.created|date:"M d, Y"}}
    </div>
  </div>
  <br>
  {% endfor %}
</div>

{% endblock content %}
